.steps {
    width: 60%;
    float:left;
    display:flex;
    }
    
.display {
    flex-grow: 1;
    width: 40%;
    float: right;
}
    
.ML {
    /*border-style: solid;*/
    border-color:aquamarine
}
    
/*style the form*/   
#regForm {
    border-radius: 20px;
    background-color: #a8d5e0;
    margin: 10px auto;
    padding: 20px;
    width: 100%;
    min-width: 300px;
    border: 1px solid #89ebb2;
    float: left;
    }
    
.output {
    height: 600px;
    overflow-y: scroll;
    text-align: center;
    background-color: #90f3c5;
    margin: 10px;
    border-radius: 20px;
    width: auto;
}
    
/* Style Input Fields*/
input.t{
    padding:10px;
    width: 100%;
    font-size: 17px;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid #89ebb2;
}
    
input.invalid {
    background-color: lightcoral;
}
    
/* Hide steps by default: */ 
.tab {
    display: none;
    height: 350px;
    overflow-y: scroll;
}
    
/* Make circles */
.step {
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
    
/* Mark the active step */
.step.active{
    opacity: 1;    
}
    
/* Mark steps that are finished */
.step.finish {
    background-color: #04AA6D;
}