{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}">
<title>Home</title>

{% endblock %}

{% block body %}

<div class="main">
    <div class="bio_information">
        <h1>Website Credits</h1>

        <h3>🔗 Project Source: <a
                href="https://github.com/TAWinterton2/CS-F600-ML-GUI">https://github.com/TAWinterton2/CS-F600-ML-GUI</a>
        </h3>

        <style>
            .profile-grid {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;
            }

            .profile-card {
                border: 1px solid #ccc;
                padding: 20px;
                box-sizing: border-box;
            }
        </style>

            <div class="profile-grid">
                <div class="profile-card">
                    <img src="https://avatars.githubusercontent.com/u/51008087?s=400&u=e6109a323d953e8a984eeb21560f1969fbf0788b&v=4"
                    alt="Profile Photo" class="profile-photo">
                    <h3><a href="https://github.com/raelewis" target="_blank">Rachel Lewis</a></h3>
                    <p>Rachel completed her undergraduate degree in Computer Science at the University of Alaska Anchorage in 2021. 
                        Since Spring 2023, she has been pursuing her MS in Computer Science at the University of 
                        Alaska Fairbanks. Her research interests include machine learning, artificial intelligence, robotics, and 
                        data analysis. </p>
                </div>

            <div class="profile-card">
                <img src="https://www.uaf.edu/universityrelations/files/downloads/additional-artwork/nanook-bear/Nanook_Bear_647_left.png"
                    alt="Profile Photo">
                <h3>Travis Winterton</h3>
                <p>Biographical Information</p>
            </div>

            <div class="profile-card">
                <img src="https://avatars.githubusercontent.com/u/139935920" alt="Profile Photo" class="profile-photo">
                <h3><a href="https://github.com/jbonda/">Jhansirani Bonda<a/></h3>
                <p>Jhansi is a high school physics teacher with over seven years of dedicated service.
                    Graduated in Physics and Bachelor's degree in Education, mathematics, physics, and computer science.
                    Currently expanding my skill set through a professional software development course as a student at 
                    the University of Alaska, Fairbanks.</p>
            </div>

            <div class="profile-card">
                <img src="https://avatars.githubusercontent.com/u/7608183" alt="Profile Photo" class="profile-photo">
                <h3><a href="https://github.com/techsolomon/">Solomon Himelbloom</a></h3>
                <p>Solomon is a UAF computer science student from Kodiak, Alaska, and a graduate research assistant at
                    the Alaska Center for Energy and Power (ACEP). During the Fall 2023 semester, he enjoyed exploring
                    machine learning web interfaces through the professional software development course.</p>
            </div>
        </div>
    </div>

    {% endblock %}
