<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}


    {% endblock %}


</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/linear">Linear Regression</a>
        <a href="/poly">Polynomial Regression</a>
        <a href="/logistic">Logistic Regression</a>
        <a href="/svm">Support Vector Machine</a>
        <a href="/neural">Neural Network</a>
        <a href="/about">About</a>
      </div>


    {% block body %}



    {% endblock %}

</body>
</html>

