{% extends 'base.html' %}

{% block head %}

<title>Home</title>
{% endblock %}

{% block body %}
<div class="main">
    <div class="intro">
        <h1>Welcome!</h1>
        <p>This is test text to see how things look on the website with proper css.</p>
        <br/>
        <p>Eventually, this will include a summary of the project.</p>
    </div>
    <div class="intro">
        <h1>Linear Regression</h1>
        <p>Here will be a basic summary of Linear Regression on the main page.</p>
        <br/>
        <p>This will also contain a link to the linear regression model (the same link in the top header) for the user to get
            started with.</p>
    </div>
    <div class="intro">
        <h1>Polynomial Regression</h1>
        <p>Here will be a basic summary of Polynomial Regression on the main page.</p>
        <br/>
        <p>This will also contain a link to the polynomial regression model (the same link in the top header) for the user to get
            started with.</p>
    </div>
    <div class="intro">
        <h1>Logistic Regression</h1>
        <p>Here will be a basic summary of Logistic Regression on the main page.</p>
        <br/>
        <p>This will also contain a link to the Logistic regression model (the same link in the top header) for the user to get
            started with.</p>
    </div>
</div>
{% endblock %}