{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}">
<title>Home</title>

{% endblock %}

{% block body %}

<div class="main">
    <div class="welcome_tab">
        <h1>Welcome!</h1>
        <p>To the Machine Learning Webiste!.</p>
    
        <p>Here, you can view how differnt Machine Learning model works by following step-by-step instructions! .</p>
        
        <p>Click one or the Models below to get started!</p>
        
        <p>For help and more information, visit the "About" page</p>
    </div>
    <div class="lin_reg_tab">
        <h1>Linear Regression</h1>
        <p>A data analysis technique that predicts the value of unknown data by using another related and known data value</p>
        <br/>
    </div>
    <div class="poly_reg_tab">
        <h1>Polynomial Regression</h1>
        <p>A form of regression analysis in which the relationship between 
            the independent variables and dependent variables are modeled in the "nth" degree polynomial.</p>
        <br/>
    </div>
    <div class="log_reg_tab">
        <h1>Logistic Regression</h1>
        <p>  A statistical model that models the probability of an event taking place by 
            having the log-odds for the event be a linear combination of one or more independent variables</p>
        <br/>
    </div> 
</div>

{% endblock %}