{% extends 'base.html' %}

{% block head %}
    <title>Multi-Form Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

{% endblock %}


{% block body %}
    <div class="main">
        <div class="steps">
            <form id="regForm" action="">
                <div style="text-align:left; margin-top:20px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
                <h1 class="ML">Linear Regression</h1>
                <div class="tab"><h2>Step 1: Uploading Dataset</h2>
                    <p>We would put instructions here to describe what type of dataset to use and what file type is accepted.</p>
                    <p><a href="">Here is a fake link to a dataset incase the user does not have one prepared.</a></p>
                    <p>Otherwise, the user can upload a .csv/.zip file.</p>
                    <input type="file" name="file" accept=".csv"> <!--<input type="submit" value="Submit File">-->
                    <p style="color:crimson">Here will be a notification that will appear when the file has been accepted or if an error occurred.</p>
                    <!--<p><input placeholder="PutsomthingHere" oninput="this.className = ''" class="t"></p>-->
                </div>

                <div class="tab"><h2>Step 2: Scaling the Dataset</h2>
                    <p>This section would explain what we mean by scaling the dataset, as well as what each option (if applicable)
                        means. The user will select an option (with standardize being the default) and then continue to the next step.
                    </p>
                    <select name="Scaling Type" id="scale">
                        <option value="Standardize">Standardize</option>
                        <option value="Normalize">Normalize</option>
                    </select>
                </div>

                <div class="tab"><h2>Step 3: Training and Testing</h2>
                    <p>We would explain what the testing + training datasets mean, the ideal split for this.</p>
                    <p><label for="training">Training:</label>
                    <input type="text" id="training" name="training "placeholder="80" oninput="this.className = ''"></p>
                    <p><label for="training">Testing:</label>
                    <input type="text" id="testing" name="testing" placeholder="20" oninput="this.className = ''"></p>
                    <p style="color:red">If the user inputs values that do not make sense (testing > training, testing+training>100),
                    an error will output here explaining what went wrong.</p>
                </div>

                <!-- Sorry if this div becomes super long :( 
                                            -Travis         -->
                <div class="tab"><h2>Step 4: Initialize the Model</h2>
                    <p>
                        List of all Hyperparameters associated with ML model are listed here 
                        <br>
                        <br>

                        Users can adjust any of these as they wish <br>
                        We will leave default values for all options and make a notice to the user that it is <br>
                        reccomended that they do not mess with any of these values at first untill they are <br>
                        comfertable with how the ML process works

                        <br>
                        <br>
                        each of these parameters will also be accompanyed by a description of what they do.
                        <br>  
                        <br>
                        <br>


                    </p>

                    <p>
                        Loss Strength:
                        <select name = "loss Strength" id="Hyperparameters">
                            <option value="square_error">Squared Error</option>
                            <option value="epsilon_insensitive">Epsilon Insensitive</option>
                            <option value="squared_epsilion_insensitive">Squared Epsilon Insensitive</option>
                        </select>

                        &ensp;

                        Penalty:
                        <select name="penalty" id="Hyperparameters">
                            <option value="l2">l2</option>
                            <option value="l1">l1</option>
                            <option value="elasticent">Elasticent</option>
                            <option value="none">None</option>
                        </select>

                    </p>

                    <p>

                        <label for="alpha">Alpha:</label>
                        <input type="text" id="Hyperparameters" name="alpha" placeholder="0.0001" oninput="this.className = ' '">
                       

                        <label for="l1_ratio">l1 Ratio:</label>
                        <input type="text" id="Hyperparameters" name="l1_ratio" placeholder="0.15" oninput="this.className =''">
    
                    </p>

                    <p>
                        Fit Intercept:
                        <input type="radio" id="Hyperparameters" name="true" value="true">
                        <label for="true">True</label>
                        <input type="radio" id="Hyperparameters" name="false" value="false">
                        <label for="false">False</label><br>
                    </p>

                    <p>
                        <label for="max_iter">Max Iteration:</label>   
                        <input type="text" id="Hyperparameters" name="max_iter" placeholder="1000" oninput="this.className = ''">   
                    </p>

                    <p>
                        Shuffle:
                        <input type="radio" id="Hyperparameters" name="true" value="true">
                        <label for="true">True</label>
                        <input type="radio" id="Hyperparameters" name="false" value="false">
                        <lable for="false">False</lable>
                    </p>

                    <p>
                        <label for="verbose">Verbose:</label>
                        <input type="text" id="Hyperparameters" name="verbose" placeholder="0" oninput="this.className=''">
                    </p>

                    <p>
                        <label for="epsilon">Epsilon</label>
                        <input type="text" id="Hyperparameters" name="epsilon" placeholder="0.1" oninput="this.className=''">
                    </p>

                    <p>
                        Learning Rate:
                        <select name="learning_rate" id="Hyperparameters">
                            <option value="invscaling">Invscaling</option>
                            <option value="constant">Constant</option>
                            <option value="optimal">Optimal</option>
                            <option value="adaptive">Adaptive</option>
                        </select>
                    </p>

                    <p>
                        <label for="eta0">eta0</label>
                        <input type="text" id="Hyperparameters" name="epsilon" placeholder="0.01" oninput="this.className=''">

                    </p>

                    <p>
                        <label for="power_t">Power_T</label>
                        <input type="text" id="Hyperparameters" name="power_t" placeholder="0.25" oninput="this.className=''">

                    </p>

                    <p>
                        Early Stopping:
                        <input type="radio" id="Hyperparameters" name="true" value="true">
                        <label for="true">True</label>
                        <input type="radio" id="Hyperparameters" name="false" value="false">
                        <label for="false">False</label>
                    </p>
                    
                    <p>
                        <label for="validation_fraction">Validation Fraction</label>
                        <input type="text" id="Hyperparameters" name="validation_fraction" placeholder="0.1" oninput="this.className=''">
                    </p>

                    <p>
                        <label for="n_iter_no_change"> # of Iterations (no change) </label>
                        <input type="text" id="Hyperparameters" name="n_iter_no_change" placeholder="5" oninput="this.className=''">

                    </p>

                    <p>
                        Warm Start:
                        <input type="radio" id="Hyperparameters" name="true" value="true">
                        <label for="true">True</label>
                        <input type="radio" id="Hyperparameters" name="false" value="false">
                        <label for="false">false</label>
                    </p>

                    <p>
                        Average:
                        <input type="radio" id="Hyperparameters" name="true" value="true">
                        <label for="true">True</label>
                        <input type="radio" id="Hyperparameters" name="false" value="false">
                        <label for="false">false</label>
                    </p>



                </div>

                <div class="tab"><h2>Step 5: Run</h2>
                    <p>If possible, we would review all the settings the user has inputted so the user 
                        can view everything before running. When the user presses the run button, the model
                        will run with the provided settings and either output an error message OR proceed to evaluation.</p>
                    <button type="button" id="run">Run!</button>

                </div>

                <div style="overflow:auto;">
                    <div style="float:right;">
                    <button type="button" id="prevStp" onclick="nextPrev(-1)">Previous</button>
                    <button type="button" id="nextStp" onclick="nextPrev(1)">Next</button>
                    </div>
                </div>

            </form>
            <script type="text/javascript" src="{{url_for('static', filename='ml_form_script.js')}}"></script>
        </div>
        <div class="display">
            <div class="output">
                <h1>Output</h1>
                <p>Here would be any visualizations from the program.</p>
                <p>Usually, when the user finishes a step it will output some sort of visualization.</p>
                <ul>Step 2: visualizes the whole dataset</ul>
                <ul>Step 3: visualize the testing and training data-split</ul>
                <ul>Step 5: Running the model outputs the error processing / evaluation graphs.</ul>
                <canvas id="myChart" style="width:100%;max-width:300px;background-color: antiquewhite;align-content: center;"></canvas>
                <script>
                    const xyValues = [
                    {x:50, y:7},
                    {x:60, y:8},
                    {x:70, y:8},
                    {x:80, y:9},
                    {x:90, y:9},
                    {x:100, y:9},
                    {x:110, y:10},
                    {x:120, y:11},
                    {x:130, y:14},
                    {x:140, y:14},
                    {x:150, y:15}
                    ];

                    
                new Chart("myChart", {
                type: "scatter",
                data: {
                    datasets: [{
                    pointRadius: 4,
                    pointBackgroundColor: "rgb(0,0,255)",
                    data: xyValues
                    }]
                },
                options: {
                    legend: {display: false},
                    scales: {
                    xAxes: [{ticks: {min: 40, max:160}}],
                    yAxes: [{ticks: {min: 6, max:16}}],
                    }
                }
                });
                </script>
            </div>
        </div>
    </div>
{% endblock %}